@import url('https://fonts.googleapis.com/css2?family="Poppins", sans-serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* navbar work */
.menubar a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: black;

}

.bg-shadow {
    box-shadow: 0px 8px 35px 0px #0000000D;
}

.nav-logo {
    display: none;
}

.line {
    margin-bottom: 3px;
    width: 30px;
    height: 4px;
    background: black;
    z-index: 3;
}

.mr-61 {
    margin-right: 61px;
}

.mr-64 {
    margin-right: 64px;
}

.mr-56 {
    margin-right: 56px;
}

.log-out {
    background-color: #2C49FE;
    color: white;
    width: 118px;
    height: 46px;
    border-radius: 23px;
    border: none;
    transition: all .4s linear;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.logo span {
    color: #01C8FF;
}

.log-out:hover {
    scale: 1.1;
}

.l2 {
    position: relative;
}

.l2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 300ms ease-in-out;
    background-color: rgb(57, 6, 6);
}

.l2:hover::after {
    width: 100%;
    left: 0;
}

/* navbar work completed */
/* contant-section-1 */
.pt167 {
    padding-top: 167px;
}

.mt-16 {
    margin-top: 16px;
}

.pl-38 {
    padding-left: 14px;
}

.ml-99 {
    margin-left: 50px;
}

.max-width-857 {
    max-width: 857px;
}

.gap35 {
    gap: 35px;
}

.mt38 {
    margin-top: 38px;
}

.svg-boxs p {
    padding: 0;
    margin: 0;
    margin-left: 8px;
}

.play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mt-134 {
    margin-top: 134px !important;
}

.light-black {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
}

.lh28 {
    line-height: 28.8px;
}

.jhone-black {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: #000000;
    padding-left: 0;
}

.button-1 {
    width: 254px;
    height: 46px;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #000000;
    background: #2C49FE1A;
    outline: none;
    border: none;
}

.ml13 {
    margin-left: 13px;
}

.button-2 {
    width: 233px;
    height: 46px;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: white;
    background: #2C49FE;
    outline: none;
    border: none;
}

/* section-2 */
.galery {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #000000;
}

.photos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 15px;
}

.photos:hover {
    cursor: pointer;
}

.img1 {
    grid-row: 1/2;
    grid-column: 1/2;
    overflow: hidden;
    border-radius: 30px;
}

.img2 {
    grid-row: 1/2;
    grid-column: 2/3;
    overflow: hidden;
    border-radius: 30px;
}

.img3 {
    grid-row: 1/3;
    grid-column: 3/4;
    overflow: hidden;
    border-radius: 30px;
}

.img4 {
    grid-row: 2/3;
    grid-column: 1/3;
    overflow: hidden;
    border-radius: 30px;
}

.img5 {
    grid-row: 3/4;
    grid-column: 1/2;
    overflow: hidden;
    border-radius: 30px;
}

.profile-txt-box {
    background-color: #F1F2F5;
    max-width: 1244px;
    border-radius: 0px 20px 20px 20px;
    margin-left: 20px;
    padding: 14px 20px;
    width: 100%;
}

.user-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.profile-text-box {
    width: 100%;
    width: 833px !important;
}

.ml-47 {
    margin-left: 47px;
}

.mt-47 {
    margin-top: 47px;
}

.remove-text {
    margin-left: 20px;
    margin-top: 8px;
    display: flex;
    align-items: center;

}

.mt95 {
    margin-top: 95px;
}

.ml-15 {
    margin-left: 15px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb13 {
    margin-bottom: 13px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}

.mb11 {
    margin-bottom: 11px;
}

.mb12 {
    margin-bottom: 12px;
}

.mt81 {
    margin-top: 81px;
}

.mt126 {
    margin-top: 126px;
}

.evenstfree-footer {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.evenstfree-footer span {
    color: #01C8FF;
}

.lorem-footer {
    max-width: 346px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #ffff;
}

.head-li {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}

.content-li a {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
}

.content-li a:hover::after {
    width: 100%;
    left: 0;
}

.content-li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    z-index: 3;
    transition: all 300ms ease-in-out;
    background-color: rgb(255, 255, 255);
}

.box-of-gallery-for-show-more {
    width: 100%;
    height: 100%;
    background: #18205C;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 13px;

}

.row-of-galery img {
    cursor: pointer;
}



.copyright {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.show-more-gallery {

    max-width: 43px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffff;
}

.show-more-gallery a {
    text-decoration: none;

    color: white;
}



ul li a {
    text-decoration: none;
    color: #FFFFFF;
}


.gap-15-4 {
    gap: 15.4px;
}

@media (max-width:992px) {
    .mt95 {
        margin-top: 50px;
    }

    .ml-15 {
        margin-left: 10px;
    }

    .mb36 {
        margin-bottom: 18px;
    }

    .mb13 {
        margin-bottom: 13px;
    }

    .mb11 {
        margin-bottom: 11px;
    }

    .mb12 {
        margin-bottom: 12px;
    }

    .mt81 {
        margin-top: 41px;
    }

    .mt126 {
        margin-top: 60px;
    }
}

.remove-text p {
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.remove {
    margin-left: 5px;
}

.mb-0 {
    margin: 0;
}

.img6 {
    grid-row: 3/4;
    grid-column: 2/4;
    overflow: hidden;
    border-radius: 30px;
}

.img {
    transition: all 0.3s linear;
    height: 100%;
}

.img:hover {
    scale: 1.09;
}

.bor-der {
    border: 2px solid #9CA1BE;
    border-radius: 35px;
    align-items: center;
    padding: 7px;

}

.mx-w-1319 {
    max-width: 1319px;
}

.mt-70 {
    margin-top: 70px;
}

/* .section-3 */
.mx-w-719 {
    max-width: 719px;
}

.post {
    border-radius: 36px;
    border: 1px solid #9CA1BE
}

.imput {
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #666666;
    outline: none;
    margin-left: 21px;
}

.h70 {
    min-height: 70px;
}

.post-comm {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border-radius: 36px;
    width: 208px;
    height: 56px;

    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #2C49FE;
    border: none;
    outline: none;
}

.post-comm:hover {
    transition: all .2s linear;
    scale: 0.9;
}

@media (max-width:992px) {

    /* navbar respossive */
    .logo {
        font-size: 30px;
    }

    .nav-logo {
        display: block;
        z-index: 3;
    }

    .mr-61,
    .mr-64,
    .mr-56 {
        margin-right: 0;
    }

    .menubar {
        width: 100%;
        height: 100%;
        flex-direction: column !important;
        background: skyblue;
        top: -100%;
        right: 0;
        z-index: 2;
        transition: all .4s linear;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        position: fixed;

    }

    .menubar a {
        margin-bottom: 25px;
    }



    /* navbar responsive completed */
    .pl-62 {
        padding-left: 0;
    }

    .mt-134 {
        margin-top: 100px !important;
    }
}

@media (max-width:576px) {
    .col-max-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        font-size: 25px;
    }

    .button-papa button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }



    .lh28 {
        line-height: 24px;
    }

    .mt-134 {
        margin-top: 75px !important;
    }

    .pt167 {
        padding-top: 100px;
    }
}

@media (max-width:1400px) {
    .ml-99 {
        margin: 0;
    }

}